/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Helvetica;
  border: 0px;
  margin:  0px;
}

h1 {
  font-family: courier;
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 175%;
  text-align: center;
}

#bg {
  background-color: #FFFFDD;
}

p.defin {
  clear: both;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 3px;
  margin-bottom: 10px;
  text-align: justify;
  font-family: inherit;
  height: 190px;
}

.row {
  width: 100%;
  position: absolute;
  top: 50px;
  border: 10px solid #FFFFDD;
}

.food {
  background-color: #DDDDAA;
  margin: 10px;
  border: 1px solid black;
}

/*********** Title boxes ***********/
.foodtitle {
  font-family: courier;
  font-variant: small-caps;
  float: right;
  text-align: center;
  color: white;
  font-size: 125%;
  border: 1px solid black;
  position: relative;
  left: 1px;
  bottom: 1px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#beef {
  background-color: #336666;
}
#chicken {
  background-color: #993366;
}
#sushi {
  background-color: #886666;
}



/********** Laptop devices **********/
@media (min-width: 992px) {
  .col-lg-4  {
    float: left;
    width: 33.33%;
  }
}

/********** Tablet devices **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6  {
    float: left;
    width: 50%;
  }
  .col-md-12 {
    float: left;
    width: 100%;
  }
}

/********** Mobile devices **********/
@media (max-width: 767px) {
  .col-sm-12  {
    float: left;
    width: 100%;
  }
  .row {
    border-top: 10px solid #FFFFDD;
    border-left: 30px solid #FFFFDD;
    border-right: 30px solid #FFFFDD;
    border-bottom: 30px solid #FFFFDD;
  }
}
