body {
  font-size: 16px;
  color: #e8ded5;
  background-color: #1f1c1b;
  font-family: courier;
}



/* Navigation bar styles */
.navbar {
  background-color: #302e2d;
  border-bottom: 2px solid #e8ded5;
  border-radius: 0px;
}


#home-nav {
  color: #e8ded5;
  font-size: 2em;
  text-transform: uppercase;
}

#nav-list a {
  font-size: 1.5em;
  color: #999796;
}

#nav-list a:hover, #nav-list a:active, #nav-list a:focus {
  color: #e8ded5;
  background-color: #424140;
}

button.navbar-toggle {
  background-color: #424140;
  border-radius: 0px;
  padding: 10px 10px;
  margin: 3px;
}

.navbar-toggle .icon-bar {
  background-color: #e8ded5;
  border-radius: 0px;
  height: 1px;
  width: 30px;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 7px;
}

button.collapsed {
  background-color: #302e2d;
  border-radius: 0px;
}




/* Menu Styling */
header {
  font-size: 1.5em;
  text-transform: uppercase;
}

.menu-item {
  background-color: #302e2d;
  text-align: justify;
  padding: 10px;
  border-bottom: 3px solid #615f5f;
  border-right: 3px solid #615f5f;
  border-top: 2px solid #b0aeae;
  border-left: 2px solid #b0aeae;
  margin: 10px 0px;
}

h2 {
  font-size: 1.25em;
  color: #999796;
  margin: 0px 0px 5px;
}

#menu-body a {
  color: #8a634c;
}

#menu-body a:hover {
  text-decoration: none;
}
