body {
	font-family: courier;
	font-weight: normal;
	background: #008899;
}

div:after {
  content: "";
  background: url("../../images/ev-1.jpg");
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

